.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #4285f4;
    color: #fff;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;

  
    &:hover {
      background-color: #fff;
      border: 1px solid #357ae8;
      color: #357ae8;
    }
}
.add-card{
  margin: 1.8rem auto;
  width: 95%;
}
@media (max-width: 736px) {
  .custom-button{
    height: 40px;
    padding: .5rem;
    line-height: 25px;
  }
  .add-card{
    margin: 1rem auto;
  }
  .complete-payment{
    margin: 0 auto;
    width: 95%;
  }
}